.idea
.DS_Store
.idea/*
.idea/workspace.xml
local.properties
*.properties
*.bin
*.lock
*.lock
local.properties
build/intermediates/lint-cache/sdk-registry.xml/sdk-registry.xml
build/intermediates/lint-cache/maven.google/master-index.xml
build/intermediates/lint-cache/maven.google/com/android/support/test/group-index.xml
build/intermediates/lint-cache/maven.google/com/android/support/test/espresso/group-index.xml
build/intermediates/lint-cache/maven.google/com/android/support/group-index.xml
build/intermediates/lint-cache/maven.google/com/android/support/constraint/group-index.xml
app/app.iml
.idea/workspace.xml
.idea/misc.xml
.idea/caches/build_file_checksums.ser
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/4.10.1/taskHistory/taskHistory.lock
.gradle/4.10.1/taskHistory/taskHistory.bin
.gradle/4.10.1/javaCompile/taskHistory.bin
.gradle/4.10.1/javaCompile/javaCompile.lock
.gradle/4.10.1/javaCompile/classAnalysis.bin
.gradle/4.10.1/fileHashes/fileHashes.lock
.gradle/4.10.1/fileHashes/fileHashes.bin
*.iml
*.xml
*.ser
*.bin
*.lock
app/.DS_Store
